* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-color: #f9f9fa
}



.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 100px;
    width: 7rem;
    height:7rem ;
}

.img-radius-small {
    border-radius: 20px;
    width: 2.5rem;
    height: 2.5rem;
}

.img-radius-medium {
    border-radius: 40px;
    width: 4rem;
    height:4rem;
}


h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.my-custom-scrollbar {
    position: relative;
    height:600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

i {
    padding-right: 0.1rem;
}

.invisible-button {
    background-color:transparent;
    border-color:transparent;
}


#map {

    height:27rem;
    margin-bottom:1rem;
}

/*background et position de l'image*/

.background {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    max-height: 23%;
    max-width: 23%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   
}

/* button decouvrir   */



.position {
    margin-top: 200px
}

.btn {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid transparent
}

.btn-round {
    border-radius: 4px !important
}

.btn i {
    margin-right: 5px
}

.btn.btn-large i {
    font-size: 24px
}

.button {
    margin-top: 0;
    margin-bottom: 0
}

.btn.btn-large {
    font-size: 18px;
    padding: 18px 35px
}



.highlight-button {
    border: 2px solid #fff;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #f9f9fa;
    background-color: transparent
}

    .highlight-button:hover {
        background-color: #000;
        border: 2px solid #000;
        color: #fff
    }

    .highlight-button i {
        color: #000
    }

    .highlight-button:hover i {
        color: #fff
    }






.hidden {
    visibility: hidden;
    height: 0rem;
}





.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #333333;
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
    border: none;
    outline: none;
    border-radius: 50%;
}

    .icon-button:hover {
        cursor: pointer;
    }



.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.notification {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5rem;
}




.decoration {
    text-decoration:none;
    color:black;
}






.no-pading-margin {
    padding:0;
    margin:0;

}

.padding-right {
    padding-right: 0;
}

.i {
    padding-right:5px;
}